set security address-book global address {{ name_APP }} {{ ip_APP }}
set security address-book global address {{ name_USER }} {{ ip_USER }}
set applications application {{ Name_Application }} protocol tcp
set applications application {{ Name_Application }} destination-port {{ Application }}
set security policies from-zone {{ Source_Zone }} to-zone {{ Dest_Zone }} policy {{ Policy_Name }} match source-address {{ name_USER }}
set security policies from-zone {{ Source_Zone }} to-zone {{ Dest_Zone }} policy {{ Policy_Name }} match destination-address {{ name_APP }}
set security policies from-zone {{ Source_Zone }} to-zone {{ Dest_Zone }} policy {{ Policy_Name }} match application {{ Name_Application }}
set security policies from-zone {{ Source_Zone }} to-zone {{ Dest_Zone }} policy {{ Policy_Name }} then permit

